<div class="container dm-contact" [formGroup]="contactForm">

    <div class="title-session">
        <hr/>
        <h4>Contato</h4>
        <hr/>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-8">

            <div class="row">

                <div class="col-sm-12 col-md-6 mb-3">
                    <label for="name">Nome</label>
                    <input id="name" class="form-control" formControlName="name" />

                    <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
                        O nome é obrigatório.
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 mb-3">
                    <label for="address">E-mail</label>
                    <input id="address" class="form-control" formControlName="address" />

                    <div *ngIf="contactForm.get('address')?.invalid && contactForm.get('address')?.touched" class="text-danger">
                        Por favor, insira um e-mail válido.
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <label for="subject">Assunto</label>
                    <input id="subject" class="form-control" formControlName="subject" />

                    <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched" class="text-danger">
                        O assunto é obrigatório.
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label for="message">Mensagem</label>
                    <textarea id="message" class="form-control" formControlName="message"></textarea>

                    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
                        A mensagem é obrigatória.
                    </div>
                </div>

                <div class="col-2">
                    <button class="dm-btn dm-btn-primary" (click)="enviarContato()" *ngIf="!isLoading">Enviar</button>
                    <button class="dm-btn dm-btn-primary" [disabled]="true" *ngIf="isLoading">
                        <div class="spinner-border spinner-border-sm text-light">
                        </div>
                    </button>
                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-4 mt-4 mt-md-0">

            <hr class="hide show-mobile"/>

            <div class="row">
                <div class="col-12">Redes Sociais</div>
            </div>

            <div class="row dm-contact-redes-sociais">                
                <div class="col-3">
                    <a href="https://github.com/DiegoMaia83" target="_blank"><i class="fab fa-github"></i></a>
                </div>
                <div class="col-3">
                    <a href="https://www.linkedin.com/in/maiadiego" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-3">
                    <a href="https://www.facebook.com/diego.maia.3766" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="col-3">
                    <a href="https://www.instagram.com/diego.maia83" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <hr class="hide show-mobile"/>

            <div class="row">
                <div class="col-12">Localização</div>
            </div>            

            <div class="row">
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14614.986243778665!2d-46.63153604718479!3d-23.685019709072225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce44f25c664dd3%3A0xfe4f9be40c23e71!2sCentro%2C%20Diadema%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1728527892474!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            
        </div>

    </div>

</div>