<div class="container dm-about">

    <div class="title-session">
        <hr/>
        <h4>DIEGO MAIA MARTINS</h4>
        <hr/>
    </div>

    <div class="dm-about-content">
        <div class="dm-about-descricao">
            Desenvolvedor Fullstack com 4 anos de experiência em C# e ASP.NET, buscando contribuir com minhas habilidades em desenvolvimento de aplicações web robustas e escaláveis. 
            Experiência em backend com .NET e integração frontend com tecnologias modernas. 
            Proativo, focado em resultados e colaborativo, com sólida compreensão de metodologias ágeis.
        </div>
    </div>
    
</div>