
<div id="dm-menu-bar-options">
    <a href="#projects" onclick="closeMenu()">Projetos</a><hr/> 
    <a href="#skills" onclick="closeMenu()">Competências</a><hr/> 
    <a href="#about" onclick="closeMenu()">Sobre</a><hr/> 
    <a href="#contact" onclick="closeMenu()">Contato</a>
</div>

<div class="dm-menu-bg">

    <div class="container dm-menu">

        <div class="dm-menu-bar">
            <a onclick="toggleMenu()"><i class="fas fa-bars"></i>&nbsp;&nbsp; Menu</a>
        </div>

        <div class="dm-menu-session">
            <a href="#projects">Projetos</a>
            <a href="#skills">Competências</a>
            <a href="#contact">Contato</a>
        </div>

        <div class="dm-menu-social">
            <a href="https://github.com/DiegoMaia83" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/maiadiego" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.facebook.com/diego.maia.3766" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/diego.maia83" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>


    </div>

</div>
