.dm-home-content-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #666;
    margin: 30px;
}


.dm-home-content-div-design, .dm-home-content-div-code {
    width: 300px !important;
}

.dm-home-content-div-design h3, .dm-home-content-div-code h3 {
    font-size: 1.6rem;    
    font-weight: 700;
}

.dm-home-content-div-design div, .dm-home-content-div-code div {
    text-align: center;
}


.image-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: clip-path 0.8s ease-out;
}

/* Metade esquerda visível inicialmente */
.left-image {
    clip-path: inset(0 50% 0 0);
}

/* Metade direita visível inicialmente */
.right-image {
    clip-path: inset(0 0 0 50%);
}

.area {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 3;
}

.left-area {
    left: 0;
}

.right-area {
    right: 0;
}

.text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
}

.left-text {
    left: 0;
    transition: 0.8s;
}

.right-text {
    right: 0;
    transition: 0.8s;
}

.left-area:hover ~ .right-image {
    clip-path: inset(0 0 0 100%); 
}

.left-area:hover ~ .left-image {
    clip-path: inset(0 0 0 0); 
}


.right-area:hover ~ .right-image {
    clip-path: inset(0 0 0 0); 
}

.left-area:hover ~ .right-text {
    opacity: 0;
}

.right-area:hover ~ .left-text {
    opacity: 0;
}



@media (max-width: 768px) {

    .image-container {
        height: 40vh;
    }

    .dm-home-content-div {
        margin: 12px;
    }

    .dm-home-content-div-design {
        text-align: left;
        width: 100px !important;
    }

    .dm-home-content-div-code {
        text-align: right;
        width: 100px !important;
    }

    .dm-home-content-div-design div {
        display: none;
    }

    .dm-home-content-div-code div {
        display: none;
    }
    
}