
<div class="dm-home-bg">
    <div class="container">

        <div class="dm-home-content">
            <div class="dm-home-content-div dm-home-content-div-design">
                <h3>Web Design</h3>
                <div>Criação e estruturação visual de interfaces digitais intuitivas e estéticas</div>
            </div>
            <div class="dm-home-content-div dm-home-content-div-center">

            </div>
            <div class="dm-home-content-div dm-home-content-div-code">
                <h3>Full Stack</h3>
                <div>Desenvolvimento full stack, especialista em soluções web completas, do front ao back-end.</div>
            </div>
        </div>

    </div>
</div>
