
<div class="dm-home-bg">
    <div class="container">

        <div class="dm-home-content">
            <div class="dm-home-content-div">
                <h3>Web Design</h3>
                <div>Aliquam convallis est in nulla dapibus, eget cursus felis mollis. Suspendisse aliquet arcu ac nulla ullamcorper tristique</div>
            </div>
            <div class="dm-home-content-div"></div>
            <div class="dm-home-content-div">
                <h3>Full Stack</h3>
                <div>Aliquam convallis est in nulla dapibus, eget cursus felis mollis. Suspendisse aliquet arcu ac nulla ullamcorper tristique</div>
            </div>
        </div>

    </div>
</div>
