<div class="image-container">
    <div class="area left-area"></div>
    <div class="area right-area"></div>

    <div class="text left-text dm-home-content-div dm-home-content-div-design">
        <h3>Web Design</h3>
        <div>Criação e estruturação visual de interfaces digitais intuitivas e estéticas</div>
    </div>
    <div class="text right-text dm-home-content-div dm-home-content-div-code">
        <h3>Full Stack</h3>
        <div>Desenvolvimento full stack, especialista em soluções web completas, do front ao back-end.</div>
    </div>

    <!-- Imagens -->
    <img src="/assets/images/imagem_2.jpg" class="image left-image">
    <img src="/assets/images/imagem_1.jpg" class="image right-image">

    <!-- Linha divisória -->
    <div class="divider"></div>
</div>


<!--
    <div class="dm-home-bg">
        <div class="container">
    
            <div class="dm-home-content">
                <div class="dm-home-content-div dm-home-content-div-design">
                    <h3>Web Design</h3>
                    <div>Criação e estruturação visual de interfaces digitais intuitivas e estéticas</div>
                </div>
                <div class="dm-home-content-div dm-home-content-div-center">
    
                </div>
                <div class="dm-home-content-div dm-home-content-div-code">
                    <h3>Full Stack</h3>
                    <div>Desenvolvimento full stack, especialista em soluções web completas, do front ao back-end.</div>
                </div>
            </div>
    
        </div>
    </div>

-->
