<div class="dm-skills-bg">

    <div class="container dm-skills">

        <div class="title-session">
            <hr/>
            <h4>Competências</h4>
            <hr/>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">
                <h6>Desenvolvimento Backend</h6>
                <div class="dm-skill-tags">
                    <div class="dm-skill" *ngFor="let skill of skillsBackEnd">
                        <div class="dm-skill-tag">{{skill[0]}}</div>
                        <div class="dm-skill-star" [innerHTML]="buildStarsSkills(skill[1])"></div>
                    </div>
                </div>             
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">
                <h6>Desenvolvimento Frontend</h6>
                <div class="dm-skill-tags">
                    <div class="dm-skill" *ngFor="let skill of skillsFrontEnd">
                        <div class="dm-skill-tag">{{skill[0]}}</div>
                        <div class="dm-skill-star" [innerHTML]="buildStarsSkills(skill[1])"></div>
                    </div>
                </div>             
            </div>            

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">

                <div class="row">

                    <div class="col-12">

                        <div class="pb-4">
                            <h6>Banco de dados</h6>
                            <div class="dm-skill-tags">
                                <div class="dm-skill" *ngFor="let skill of skillsBancoDeDados">
                                    <div class="dm-skill-tag">{{skill[0]}}</div>
                                    <div class="dm-skill-star" [innerHTML]="buildStarsSkills(skill[1])"></div>
                                </div>
                            </div>  
                        </div>
                        
                        <div>
                            <h6>Serviços e Cloud</h6>
                            <div class="dm-skill-tags">
                                <div class="dm-skill" *ngFor="let skill of skillsServicos">
                                    <div class="dm-skill-tag">{{skill[0]}}</div>
                                    <div class="dm-skill-star" [innerHTML]="buildStarsSkills(skill[1])"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
              
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">
                <h6>Design</h6>
                <div class="dm-skill-tags">
                    <div class="dm-skill" *ngFor="let skill of skillsDesign">
                        <div class="dm-skill-tag">{{skill[0]}}</div>
                        <div class="dm-skill-star" [innerHTML]="buildStarsSkills(skill[1])"></div>
                    </div>
                </div>             
            </div>

        </div>

    </div>

</div>
