<div class="dm-skills-bg">

    <div class="container dm-skills">

        <div class="title-session">
            <hr/>
            <h4>Competências</h4>
            <hr/>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">
                <h6>Desenvolvimento Backend</h6>
                <div class="dm-skill-tags">
                    <div class="dm-skill-tag">C#</div>
                    <div class="dm-skill-tag">ASP Clássico</div>
                    <div class="dm-skill-tag">.NET Framework</div>
                    <div class="dm-skill-tag">.NET Core</div>
                    <div class="dm-skill-tag">.NET MAUI</div>
                    <div class="dm-skill-tag">Xamarim</div>
                    <div class="dm-skill-tag">XML</div>
                    <div class="dm-skill-tag">JSON</div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">
                <h6>Desenvolvimento Frontend</h6>
                <div class="dm-skill-tags">
                    <div class="dm-skill-tag">HTML</div>
                    <div class="dm-skill-tag">CSS</div>
                    <div class="dm-skill-tag">Bootstrap</div>
                    <div class="dm-skill-tag">Javascript</div>
                    <div class="dm-skill-tag">Jquery</div>
                    <div class="dm-skill-tag">Typescript</div>
                    <div class="dm-skill-tag">Angular</div>
                    <div class="dm-skill-tag">XAML</div>
                </div>             
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">

                <div class="row">

                    <div class="col-12">

                        <div class="pb-4">
                            <h6>Banco de dados</h6>
                            <div class="dm-skill-tags">
                                <div class="dm-skill-tag">MySql</div>
                                <div class="dm-skill-tag">Sql Server</div>
                            </div>  
                        </div>
                        
                        <div>
                            <h6>Serviços e Cloud</h6>
                            <div class="dm-skill-tags">
                                <div class="dm-skill-tag">AWS</div>
                                <div class="dm-skill-tag">Hospegadem de sites</div>
                            </div>
                        </div>

                    </div>

                </div>
              
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-4">
                <h6>Design</h6>
                <div class="dm-skill-tags">
                    <div class="dm-skill-tag">Photoshop</div>
                    <div class="dm-skill-tag">Illustrator</div>
                    <div class="dm-skill-tag">InDesign</div>
                    <div class="dm-skill-tag">After Effects</div>
                    <div class="dm-skill-tag">Premiere</div>
                    <div class="dm-skill-tag">Figma</div>
                    <div class="dm-skill-tag">3D Studio Max</div>
                </div>             
            </div>

        </div>

    </div>

</div>
